!!!
%html{:lang => 'en', :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en'}
%head
	%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
	%meta{:content => "Сайт психолога Гордиенко", :name => "description"}
	%meta{:content => "психология", :name => "keywords"}
	%title
		=yield_content :title
		&raquo; Сайт психолога Анны Гордиенко
	%link{:href => "/css/screen.css", :rel => "stylesheet", :type => "text/css", :media => "screen"}/
%body
#wrapper
	#main
		#content
			%h1=yield_content :title
			=yield
		%ul#aside
			%li{:class => (active == :index) ? "active" : ""}
				%a{:href => "/"} Главная
			%li{:class => (active == :consultations) ? "active" : ""}
				%a{:href => "/consultations"} Консультации
			%li{:class => (active == :news) ? "active" : ""}
				%a{:href => "/news"} Новости
			%li{:class => (active == :guest) ? "active" : ""}
				%a{:href => "/guest"} Гостевая
			%li{:class => (active == :information) ? "active" : ""}
				%a{:href => "/information"} Информационный
			%li{:class => (active == :contacts) ? "active" : ""}
				%a{:href => "/contacts"} Связаться со мной
	#header
		%strong.logo
			%a{:href => "/"} Сайт психолога Анны Гордиенко
		%dl.contacts
			%dt Email:
			%dd &nbsp;
			%dt ICQ:
			%dd &nbsp;
			%dt Skype:
			%dd &nbsp;
	#footer
		%a{:href => "/"} Сайт психолога Анны Гордиенко